html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    color: #E5E5E5;    
}
.jaune {
    color: #FFC107 ;
}
section {
    position: relative;
}
h1, h2, h3 {
    color: #fff;
}
body {
    /* background-color: #1F2039; */
    background-color: #1f1e25;
    font-family: 'Montserrat', sans-serif;            
}

/* Header */
header{
    padding: 34px 78px;     
    /* background-color: #1f1e25; */
    background-color: rgba(0, 0, 0, 0.2);
}
/* .mylogo {

} */
/* header {
    position: fixed;
    width: 100%;
    z-index: 1000;
} */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li {
    list-style-type: none;
    position: relative;
    padding: 5px 0; 
}
header nav ul {
    display: flex;
    align-items: center;
    gap: 140px;
}
span.logo {
    font-size: 20px;
    font-weight: 600;
    color: #FFD700 ;
}
a {
    color: #B0B0B0;
    text-decoration: none;       
}
a::before {
    content: "";
    position: absolute; 
    width: 0;    
    bottom: 0;                            
    height: 2px;                             
    background-color: #FFD700;
    transition: 0.3s ease-out;    
}
a:hover {
    color: #FFD700;
}
a:hover::before {
    width: 90%;
}

/* Landing Page */
#landing-page {
    /* padding: 120px 200px; */
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#landing-page div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#landing-page .name {
    width: 533px;    
    text-align: center;
    /* background-color: blue; */
}
#landing-page .name h2 {
    font-size: 40px;
    font-weight: 400;
}
#landing-page .brief-presentation {
    max-width: 650px;
    text-align: center;
    font-size: 1.5em;
    margin: 56px 0 66px 0;
}
.contact-me {
    width: 202px;     
}
.myPicture img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .1);    
}

/* Section A-propos */
#apropos {
    width: 75%;   
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: start; 
    gap: 20px;   
}
.my-photo{
    background-image: url("images/maPhoto.jpg");
    background-size: contain;
    width: 300px;
    height: 400px;
    border-radius: 15px;    
}
#apropos .description {
    width: 600px;    
    line-height: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;    
}
.description h2 {
    font-size: 50px;
}
/* #competences {     
    margin: 100px auto;
} */
.competences-info {
    width: 50%;   
    margin: auto;    
    /* display: flex;
    justify-content: space-between; */
    line-height: 40px;
}
#competences h2, #services h2, #contact h2 {
    text-align: center;
    font-size: 50px;
    margin: 50px;
}
.competences-info p {
    margin-bottom: 10px;
}

#services {
    width: 90%;
    margin: auto;
}
.service-info img {
    width: 85px;
    height: 84px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.service-info {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.service-details {
    width: 430px;
    height: 450px;
    /* background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(100px); */
    padding: 30px 15px;
    border-radius: 20px;
    transition: .2s all ease-in-out;
}
.service-details:hover {
    border: 1px solid #FFC107;
    background-color: rgba(255, 255, 255, .1);
    transform: scale(1.1);
}

#contact {
    width: 90%;
    margin: 100px auto;
}
#contact img {
    width: 69px;
    height: 64px;
    border-radius: 10px;
}
.whatsapp {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 20px;
}
.adresse {
    height: 495px;
    width: 515px;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    padding: 25px 20px;
    border-radius: 10px;
}
.contact-content {
    display: flex;
    justify-content: space-between;
}
label {
    display: block;
    margin-bottom: 10px;
}
input {
    display: inline-block;
    width: 100%;    
    border-radius: 10px;
    padding: 15px 20px;
    border: 1px solid #B0B0B0;
    
}
form {
    width: 50%;
}
form div {
    margin-bottom: 20px;
}
textarea {
    width: 100%;
    border-radius: 10px;
    height: 37vh;
    padding: 15px 20px;
}
input, textarea {
    background-color: transparent;    
}
input[type="submit"] {
    width: 273px;
    border: none;
    background-color: #FFC107;
    color: #131542;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #FFD700;
    transition: .2s ease-in;
}

footer {
    display: flex;
    justify-content: space-between;    
    background-color: rgba(0, 0, 0, .2);
    padding: 34px 78px;
    font-weight: 600;
}
